@import url("./font.css");

.section {
  background-color: black;
  margin-left: 50px;
}
header {
  background-color: black;
}

header img {
  height: 100px;
}

main {
  background-color: black;
  line-height: 1;
}
main .section {
  padding-bottom: 36px;
}
.line {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  height: 120px;
}
.line img {
  width: 220px;
}
h2 {
  color: white;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
